main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.section-images img {
    margin: 20px;
}

.btn-slider {
    width: auto;
}