/*IMPORTACIÓN DE FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: "Mystery Quest";
    src: url("/fonts/Anurati-Regular.otf");
}


/* -------------VARIABLES CSS -------------------*/

:root {
    --orange-bt: #E4572E;
    --yellow-bt: #FFC914;
    --black-bt: #2E282A;
    --blue-bt: #17BEBB;
    --sombra: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'san-serif';
}

h1,
h2,
h3,
h4 {
    font-family: 'Anurati';
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: var(--orange-bt);
    height: 50px;
    width: 90%;
    border-radius: 2px;
    box-shadow: var(--sombra);
    margin: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-bt);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------------HEADER: LOGO, NAVBAR Y BURGER ---------*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--yellow-bt);
    width: 100%;
}


/* LOGO */

.logo a {
    font-size: 2.5rem;
    font-family: 'Anurati';
    color: black;
    text-shadow: var(--sombra);
}


/* BARRA DE NAVEGACION */

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin: 0px 10px;
    color: black;
}

.nav-links a {
    color: black;
}

.nav-links a:hover {
    text-shadow: var(--sombra);
}


/* BURGER CREADO PARA DESPLEGAR EL MENU EN VERSION MOBILE */

.burger {
    cursor: pointer;
    display: none;
    padding: 3px;
    border-radius: 2px;
}

.burger div {
    background-color: black;
    width: 20px;
    height: 3px;
    margin: 3px 0px;
}

.burger:hover {
    background-color: wheat;
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }
    .burger {
        display: block;
    }
}


/* -------FOOTER-------- */

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    width: 100%;
    background-color: #2E282A;
}

footer h3 {
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: #E4572E;
    text-shadow: var(--sombra);
}

footer i {
    color: #E4572E;
    font-size: 1.5rem;
    padding: 0px 5px;
}

@media screen and (max-width: 600px) {
    footer {
        align-items: center;
        flex-direction: column;
    }
    i {
        margin-top: 3px;
    }
}


/* CLASES GENERALES */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 75%;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.section-title h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: var(--sombra);
}

.separator {
    margin-top: 40px;
    background-color: #E4572E;
    width: 120px;
    height: 3px;
}