/* MAIN: Sections: Tipsters, Cards */


/* Creamos la seccion de las cartas */

.tipster-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* CARTA (foto, nombre, ver perfil) */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}

.card img {
    border-radius: 2px;
    width: 260px;
    box-shadow: var(--sombra);
}

.card span {
    background-color: var(--yellow-bt);
    padding: 9px;
    margin-top: -15px;
    border-radius: 2px;
    box-shadow: var(--sombra);
}