/*IMPORTACIÓN DE FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: "Mystery Quest";
    src: url("/assets/fonts/Anurati-Regular.otf");
}


/* VARIABLES CSS  */


/* -------------VARIABLES CSS -------------------*/

:root {
    --orange-bt: #E4572E;
    --yellow-bt: #FFC914;
    --black-bt: #2E282A;
    --sombra: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'san-serif';
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER: LOGO, NAVBAR Y BURGER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #FFC914;
    width: 100%;
}

.logo a {
    font-size: 2.5rem;
    font-family: 'Anurati';
    color: black;
    text-shadow: var(--sombra);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin: 0px 10px;
    color: black;
}

.nav-links a {
    color: black;
}

.nav-links a:hover {
    text-shadow: var(--sombra);
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    background-color: black;
    width: 20px;
    height: 3px;
    margin: 3px 0px;
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }
    .burger {
        display: block;
    }
}


/* MAIN: Sections: Tipsters */

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-tipsters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    width: 75%;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h1 {
    font-family: 'anurati';
    letter-spacing: 3px;
}